<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div id="app">
			用户名：<input type="text" name="" id="" value="" v-model="userName" />
			<br />
			性别：<input type="radio" name="" id="" value="男" v-model="sex" />男
					<input type="radio" name="" id="" value="女" v-model="sex" />女
			<br />
			爱好：<input type="checkbox" name="" id="" value="音乐" v-model="hobby" />音乐
					<input type="checkbox" name="" id="" value="读书" v-model="hobby" />读书
					<input type="checkbox" name="" id="" value="运动" v-model="hobby" />运动
			<br />
			学历：	<select name="" v-model="edu">
					<option value="本科" >本科</option>
					<option value="硕士" >硕士</option>
					<option value="博士" >博士</option>
				</select>
			<br /><br /><br />
			<p>用户名：{{userName}}</p>
			<p>性别：{{sex}}</p>
			<p>爱好：{{hobby}}</p>
			<p>学历：{{edu}}</p>
				
		</div>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var app=new Vue({
				el:"#app",
				data:{
					userName:"",
					sex:"",
					hobby:[],
					edu:""
				}
			})
			
			
			
			
			
			
			
		</script>
	</body>
</html>
